<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="">
    <!-- Twitter meta-->
    <meta property="twitter:card" content=" ">
    <meta property="twitter:site" content=" ">
    <meta property="twitter:creator" content="">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=" ">
    <meta property="og:title" content="">
    <meta property="og:url" content=" ">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <title>RSPL</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  </head>
  <body>
    <!-- Navbar-->
    

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <div class="container head">
          <a href="#" class="navbar-brand">
            <div class="logoW-wrapper">
              <img src="/images/logo-white.svg" alt="Rishabh Software">
              <span>Meal Facility</span>
            </div>
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <% if (path === '/booking-list') { %> 'active' <% } else { %> ' ' <% } %>  " aria-current="page" href="/admin">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <% if (path === '/booking-list') { %> active <% } else { %> ' ' <% } %>  "" href="/admin/booking-list">Booking List</a>
              </li>
            </ul>
            <div class="h-100 d-lg-inline-flex align-items-center">
              <ul class="app-nav">
                <!--Notification Menu-->
                <li class="dropdown"><a class="app-nav__item notification-num" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="icon-bell"></i>
                <span class="num">0</span>
                </a></li>
                <!-- User Menu-->
                <li class="dropdown"><a class="app-nav__item dropdown-toggle" href="" data-toggle="dropdown" aria-label="Open Profile Menu">Admin</a>
                  <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="" data-toggle="modal" data-target="#changepwdModal">Change Password</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      
        
  
  </nav>
  <!-- Navbar End -->
    
    <div class="container-fluid">
      <div class="container pt-30 mb-30">
        <div class="container-head">
          <div class="container-left">
            <h3 class="container-title">Booking List</h3>
          </div>
          <div class="container-right">
            <a href="#" aria-label="Add Booking" class="btn btn-primary" data-toggle="modal" data-target="#addBookingModal">Add Booking</a>
          </div>
        </div>

        <div class="content-tab">
          <a class="content-tab_link active" href="#">Rishabh Employees</a>
          <a class="content-tab_link" href="#">Others</a>
          </div> 

      </div>
      
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-block">
          <p>Copyright © 2022 Rishabh Software. All Rights Reserved.</p>
          <div class="social">
            <a href="#" aria-label="Facebook"><i class="icon-facebook"></i></a>
            <a href="#" aria-label="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" aria-label="Linkedin"><i class="icon-linkedin"></i></a>
            <a href="#" aria-label="Twitter"><i class="icon-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>



    <!-- Change Password Modal-->
    <div class="modal fade" id="changepwdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Old Password<span class="extric">*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password<span class="extric">*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password<span class="extric">*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            <div class="error-block">Error display here</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Change Password Modal-->

    <!-- Start Filter Modal-->
    <div class="modal fade side-modal" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Book a Meal</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
          <div class="form-group custom-radio">
            <label>Select Catagory</label>
            <div class="d-flex align-content-center justify-content-start">
              <div class="radio-block">
                <input type="radio" id="test1" name="radio-group" checked>
                <label for="test1" class="mr-0">Employees</label>
            </div>
            <div class="radio-block">
              <input type="radio" id="test2" name="radio-group" checked>
              <label for="test2" class="mr-0">Non Employees</label>
          </div>
          <div class="radio-block">
            <input type="radio" id="test3" name="radio-group" checked>
            <label for="test3" class="mr-0">Custom Booking</label>
        </div>
            </div>
            
          </div>
          <div class="form-group custom-radio">
            <label>Select Catagory</label>
            <div class="d-flex align-content-center justify-content-start">
              <div class="radio-block">
                <input type="radio" id="test4" name="radio-group" checked>
                <label for="test4" class="mr-0">Lunch</label>
            </div>
            <div class="radio-block">
              <input type="radio" id="test5" name="radio-group" checked>
              <label for="test5" class="mr-0">Dinner</label>
          </div>
            </div>
            
          </div>
          <div class="form-group mb-30">
            <label class="custom-checkbox mb-0"><span class="checkbox__title">Weekend</span>
              <input class="checkbox__input" type="checkbox"/><span class="checkbox__checkmark"></span>
            </label>
          </div>
          <div class="form-group">
            <label>Select Date (s)</label>
            <div class="input-group date-picker-input">
              <input type="text" class="form-control border-right-0" placeholder="Select Date" id="demoDate">
              <div class="input-group-append bg-transparent">
                  <span class="input-group-text bg-transparent" id="basic-addon2"><i class="icon-calendar"></i></span>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label>Select Account</label>
          <div class="search-wrapper">
              <input type="text" class="form-control" placeholder="Search Department..">
              <i class="icon-search search-icon"></i>
          </div>
      </div>
      <div class="form-group">
        <label>Notes</label>
        <textarea class="form-control" rows="4" placeholder="Type here.."></textarea>
    </div>
    <div class="form-group">
      <label>Booking Count</label>
      <input type="text" class="form-control" placeholder="100">
    </div>
      <div class="form-group">
        <label>Select Employees</label>
    </div>
    <div class="table-responsive">
      <table class="table table-hover responsive nowrap table-bordered">
        <thead>
          <tr>
              <th>
                <div class="form-group mb-0">
                  <label class="custom-checkbox">
                    <input class="checkbox__input" type="checkbox"/><span class="checkbox__checkmark"></span>
                  </label>
                </div>
              </th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Department</th>
          </tr>
        </thead>
         <% if (userlist.length > 0)  { %>

         <% for (let user of userlist) { %>

        <tbody>

          <tr>
            <td>
                <div class="form-group mb-0">
                  <label class="custom-checkbox m-0">
                    <input class="checkbox__input" type="checkbox"/><span class="checkbox__checkmark"></span>
                  </label>
                </div>
            </td>
            <td><%= user._id %></td>
            <td><%= user.email %></td>
            <td><%= user.department %></td>

           
  
          
          </tr>
        
        </tbody>


         <% } %>

         <% } else { %>

         <tbody>
         <tr>
         <td colspan="4" > 
           employee list empty 
         </td>
         </tr>
         </tbody>

        <% } %>
      </table>
    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary">Cancel</button>
          <button type="button" class="btn btn-primary">Book</button>
				</div>
			</div>
		</div>
    </div>
    <!-- End Filter Modal-->





    <!-- Essential javascripts for application to work-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
  </body>
</html>