<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="">
    <!-- Twitter meta-->
    <meta property="twitter:card" content=" ">
    <meta property="twitter:site" content=" ">
    <meta property="twitter:creator" content="">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=" ">
    <meta property="og:title" content="">
    <meta property="og:url" content=" ">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <title>RSPL</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  </head>
  <body class="mt-0">
    <section class="login-content">
      <div class="login-content-lt"></div>
      <div class="login-content-rt">
        <div class="login-box">
        <form class="login-form" action="#">
          <div class="logo-wrapper">
            <img src="images/logo.svg" alt="Rishabh Software">
            <span>Meal Facility</span>
          </div>
          <h3 class="login-head">Forgot Password?</h3>
          <p class="login-text">Enter the email below to continue.</p>
          <div class="form-group">
            <label class="control-label">Email</label>
            <div class="input-addon">
              <input class="form-control" type="text" placeholder="Robert@rishabhsoft.com" autofocus>
            <div class="icon-after icon-green"><i class="icon-check"></i></div>
            </div>
            <!-- <div class="error-block">Error display here</div> -->
          </div>

        
          <div class="form-group btn-container">
            <button class="btn btn-xl btn-primary">Submit</button>
          </div>
        </form>
      </div>
      </div>
      
      
      
    </section>
    <!-- End Footer -->
    <!-- End  Page Content -->
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
     
    <script>
      $(".toggle-password").click(function() {
  
  $(this).toggleClass("icon-eye-close icon-eye-open");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
  });
      </script>
  
  </body>
</html>