

<h1> welcome to signup page </h1>

<form action="/signup" method="post"> 

<div>

<label for="email"> email </label>
<input id="email" type="text" name ="email"> 

</div>


<div>
<label for="password"> password </label>
<input id="password" type ="text" name="password"> 

</div>

<button type="submit"> submit </button>

</form>


<a href="/login"> login </a>